<html>
    <head>
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
       <div class="chatbot-container">
          <div class="chatbot-header">
             <input type="text" style="float:left" [(ngModel)]="rows" placeholder="Number of rows...">
             <h2>Synthetic Data Generator
               <button style="float: right;"class="btn btn-secondary" (click)="gotoHome()">Go Back</button>
             </h2>
          </div>
          <div class="chatbot-body">
             <div class="chatbot-message">
                <div *ngIf="!hideBotMessage" class="bot-message">Hello! I can generate simulaion data for account based on the below sample 
                    <br><span>Transaction Date and Time: 2024-03-12 11:15:45</span><br>
                    <span>Account Holder Name: Mike Brown,</span><br>
                    <span>Account Number: 123456789</span><br>
                    <span>Transaction Type: Purchase</span><br>
                    <span>Transaction Amount: $500.00</span><br>
                    <span>Merchant Number: 654987321</span><br>
                    <p>Please mention number of rows you want in the text box to get appropriate results.</p>
                </div>
                <div *ngIf="errMsg">
                    {{errMsg}}
                </div>
                <div *ngFor="let message of aiMessageArray;index as i" class="chatbot-message">
                  <div class="bot-message">{{message}}</div>
                  <div class="bot-message">{{humanMessageArray[i]}}</div>
               </div>
               <mat-spinner *ngIf="isLoading" style="margin:0 auto; position: relative;" ></mat-spinner>
             </div>
          </div>
          <div class="chatbot-input"> <input type="text" [(ngModel)]="aiAuery" placeholder="Type your message..."> <button (click)="askAi()">Generate Data</button> </div>
       </div>
    </body>
 </html>