<html>
   <head>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <div class="chatbot-container">
         <div class="chatbot-header">
            <h2>Speech to Text Assistant
              <button style="float: right;"class="btn btn-secondary" (click)="gotoHome()">Go Back</button>
            </h2>
         </div>
         <div class="chatbot-body">
            <div class="chatbot-message">
               <div *ngIf="!hideBotMessage" class="bot-message">Hello! How can I assist you today?</div>
            </div>
            <!-- <div class="bot-message">{{response}}</div> -->
             <div *ngFor="let message of aiMessageArray;index as i" class="chatbot-message">
                <div class="bot-message">{{humanMessageArray[i]}}</div>
                <div class="bot-message">{{message}}</div>
             </div>
             <mat-spinner *ngIf="isLoading" style="margin:0 auto; position: relative;" ></mat-spinner>
          </div>
         <div> <button [ngClass]="{ recording: isRecording }" style="float: right; margin-right: 1rem;" class="record_btn" (click)="onMicClick()"></button> </div>
      </div>
   </body>
</html>
